<button mat-button>Click me</button>
<button mat-raised-button>Click me</button>
<button mat-raised-button color="accent">Click me</button>
<button mat-icon-button color="accent">
    <mat-icon>home</mat-icon>
</button>
<mat-sidenav-container>
    <!-- <mat-sidenav [opened]="openSidenav"> -->
    <mat-sidenav #sidenav role="navigation">
        <p>I'm the sidenav</p>
        <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <button (click)="openSidenav = true">Show sidenav</button> -->
        <!-- <button (click)="sidenav.toggle()">Show sidenav</button> -->
        <!--usar este-->
        <app-header (sidenavToggle) ="sidenav.toggle()"></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>