<button mat-button>Click me</button>
<button mat-raised-button>Click me</button>
<button mat-raised-button color="accent">Click me</button>
<button mat-icon-button color="accent">
    <mat-icon>home</mat-icon>
</button>
<mat-sidenav-container>
    <!-- <mat-sidenav [opened]="openSidenav"> -->
    <mat-sidenav #sidenav role="navigation">
        <p>I'm the sidenav</p>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <button (click)="openSidenav = true">Show sidenav</button> -->
        <!-- <button (click)="sidenav.toggle()">Show sidenav</button> -->
        <!--usar este-->
        <mat-toolbar color="primary">
            <!-- <div fxHide.sm fxHide.md fxHide.lg fxHide.xl> -->
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div><a routerLink="/">LOGO</a></div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li><a routerLink="/signup">Signup</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/training">Training</a></li>
                </ul>                         
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>